<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>http server {{ time }}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" media="screen and (min-device-width: 800px)"
          href="/static/css/index_pc.css">
    <link rel="stylesheet" media="screen and (max-device-width: 800px)"
          href="/static/css/index_mobile.css">
    <script>
        function copyText() {
            var copyText = document.getElementById("myText");
            copyText.select();
            document.execCommand("copy");
            alert("复制成功.")
        }
    </script>
</head>
<body>
<div>
    <h3>Django 文件传输工具 V2.9</h3>
    <small>
        <i>
            {% if info %}
                {{ hello }}, Administrator.
            {% else %}
                {{ hello }}, Guest.
            {% endif %}
        </i>
        <br>

        在其他设备上访问:
        {% if host %}
            <input type="text" value="{{ host }}" id="myText">
        {% else %}
            无法获得当前设备的内网 IP 地址.
        {% endif %}
        <button onclick="copyText()">复制</button>
        <br>
        <span style="color: red">
        {{ error }}
        </span>
    </small>
</div>
<hr>
<div>
    <b>下载</b>
    &nbsp;&nbsp;
    <form id="form1" action="/open/" method="get">
        <input type="submit" value="打开文件夹">
    </form>
    <br>
    <small>django_http/static/share/</small>
    <br>
    <br>
    <label id="label1">
        {% for file_name, file_time, file_size in content %}
            <li id="li1">
                <a id="a1" href="/static/share/{{ file_name }}" download="">{{ file_name }}</a>
                <span id="span1">{{ file_size }}</span>
                <span id="span2">{{ file_time }}</span>
                <form id="form2" action="/delete/{{ file_name }}" method="get">
                    <input type="submit" value="删除">
                </form>
            </li>
        {% endfor %}
    </label>
</div>
<hr>
<div>
    <b>上传</b>
    <br>
    <br>
    <form action="" enctype="multipart/form-data" method="post">
        {# {% csrf_token %}#}
        <input type="file" name="file" id="">
        <br>
        <br>
        <input type="submit" value="上传">
    </form>
</div>
<hr>
<div>
    <p>
        {% if is_friday %}
            今天是周五吗?&nbsp;是!
        {% elif is_sunday %}
            今天是周日吗?&nbsp;是! 准备工作!
        {% endif %}
    </p>
</div>
</body>
</html>
